LAB_SSH_USER=ci-runner
LAB_SSH_KEY=/home/github-runner/.ssh/terrasync_lab
LAB_SOURCE_MGMT=10.131.9.12
LAB_DEST_MGMT=10.131.9.13
LAB_WORKER_MGMT=10.131.9.14
LAB_SOURCE_DATA=10.10.1.12
LAB_DEST_DATA=10.10.1.13
LAB_WORKER_DATA=10.10.1.14
LAB_NFS3_EXPORT=/srv/nfs/v3
LAB_NFS41_EXPORT=/srv/nfs/v4
LAB_SOURCE_S3=http://10.10.1.12:9000
LAB_DEST_S3=http://10.10.1.13:9000
LAB_WORKER_S3=http://10.10.1.14:9000
